.prosonal-wrap {
  background: #fff;
  padding: 24px;
  .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
    width: 184px;
    text-align: left;
  }
  .ant-tabs-nav .ant-tabs-tab-active {
    background: #e6f7ff;
    font-weight: 900;
  }
}