@import '~antd/dist/antd.css';

#root, .ant-layout {
  height: 100%;
  width: 100%;
}
.ant-layout-header {
  background: #fff;
  padding: 0;
}
.ant-layout-content {
  margin: 24px;
}
.ant-empty-image img {
  margin: 0 auto;
}
.bg-color {
  background: #fff;
}
.fl-lt{
  float: left;
}
.fl-rt {
  float: right;
}